#block {
	width:100%;
	height:300px;
	margin-left:0;
	margin-right:0;
	padding-left:0;
	padding-right:0;
	display:block;
	text-align:center;
	font-size: 24px;
}

#halfwidth {
	width: 50%;
	height: 100%;
}
.ui.color1.button {
  background-color: #F9A0A0;
  color: #fff;
}

.ui.color2.button {
  background-color: #EA7171;
  color: #fff;
}

.ui.color3.button {
  background-color: #DE627F;
  color: #fff;
}

.ui.color4.button {
  background-color: #F9A0A0;
  color: #fff;
}